.Phonetics {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.Phonetics .speaker-icon {
  cursor: pointer;
  margin-right: 0.5rem;
}

.Phonetics .speaker-icon:hover {
  background: var(--vibrant-color);
}
